/*Основной элемент*/

/** {*/
/*	box-sizing: border-box;*/
/*}*/
.header a, a:visited {
	color:#ffff;
	text-decoration: none;
}

a:hover {
	color:#2196f3;
}

body {
	/*width: 100%;*/
	/*height: 100vh;*/
	margin: 0 auto;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: #FFF;
	background: url("/content/1.jpg") center;
	background-attachment: fixed;
	overflow-y: auto;
}

/*::-webkit-scrollbar {*/
/*	width: 0;*/
/*}*/
/*Класс "шапка" */
.header {
	width:calc(100% - 17px);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #1b1b1b;
	z-index: 998;
	position: fixed;
}

.header_section {
	display: flex;
	align-items: center;
}
.header_item {
	padding: 10px 15px;
	font-size: 20px;
}
.header_item:after {
	background-color: #2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}


.header_item:active:after,
.header_item:hover:after,
.header_item:focus:after {
	width: 100%;
}

#anchors {
	margin-right: 50px;
}
#logotitle { /*убрать если что */
	letter-spacing: 2px;
	font-size: 25px;
}

.logo {
	cursor: default;
	font-weight: bold;

	/*убрать если что */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0 0 0 50px;
}


/*убрать если что */
.logo img {
	margin-right: 10px;
}

.button {
	cursor: pointer;
}

.button:hover{
	color:#2196f3;
}

/*#secondblock h1 {*/
/*	font-weight: bold;*/
/*	font-size: 50px;*/
/*	margin: 0px;*/
/*	padding-top: 150px;*/

/*}*/

/*Задний фон страницы*/
.block {
	background-size: cover;
	text-align: center;
	min-height: 100vh;`
}

#firstblock h1{
	margin: 0;
	font-weight: 900;
	font-size: 5em;
}

#firstblock p{
	margin-left: 100px;
	margin-right: 100px;
	font-size: 2.5em;
	font-weight: 700;
}
#firstblock {
	padding-top: 150px;
}



#tocatalog2 {
	font-family: Montserrat, Arial, sans-serif;
	border: none;
	background: none;
	font-weight: 500;
	font-size: 1.5em;
	/*width: 10%;*/
	height: 40px;
	cursor: pointer;
	text-decoration: none;
	color: #2196f3;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;

}

#tocatalog2:after {
	background-color: #2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#tocatalog2:active:after,
#tocatalog2:hover:after,
#tocatalog2:focus:after {
	width: 100%;
}

#secondblock {
	background-color: white;
	padding-bottom: 50px;
	flex: 1;
}
#secondblock h1 {
	color: black;
}
#catalog__title {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
	font-weight: 900;
	font-size: 2.5em
}

#filter__title {
	text-align: left;
	padding: 0;
	margin: 0 0 20px 0;
	font-weight: 400;
	position: relative;
}

#filter__title:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	background: url('../content/filter.png') center no-repeat;
	background-size: 30px 30px;
}


/*#secondblock {*/
/*	-webkit-transform: translateZ( 0 );*/
/*	transform: translateZ( 0 );*/
/*	-webkit-transition: -webkit-transform 0.6s ease-in-out;*/
/*	transition: transform 0.6s ease-in-out;*/
/*	-webkit-backface-visibility: hidden;*/
/*	backface-visibility: hidden;*/
/*}*/

/*Оглавление и опредлеление на первой странице*/
/*.container {
	padding-top: 250px;
	font-size: 25px;
	width: 100%;
	cursor: default;
	text-align: center;
	align-items: center;
}*/

.fixed {
	position: sticky;
	/*top: 100;*/
}

.back-to-top {
	display:none;
	transition: all 0.5s ease 0s;
	z-index: 9999;
}

.visible {
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 50px;
	height: 50px;
	display: block;
}

.back-to-top:hover {
	filter: brightness(1.5);
}

.menu__list {
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;
}
.menu__list>li{
	/*margin: 0px 30px 0px 0px;*/
}

.sub-menu__list {
	display: none;
	min-width: 200px;
	position: absolute;
	top: 60px;
	padding: 20px 0px 0px 0px;
}
.sub-menu__list>li{
	background-color: #7d7d7d;
	list-style: none;
}

.sub-menu__link {
	color: #000;
	display: inline-block;
	padding: 5px 10px;

}

.header_item:hover .sub-menu__list {
	display: block;
}

a#exit {
	color: red;
}

/*a#exit:hover,a#profile:hover {*/
/*	color:#000;*/
/*}*/

a#exit:after {
	background-color: red; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}


a#exit:active:after,
a#exit:hover:after,
a#exit:focus:after{
	width: 100%;
}

a#profile:hover {
	color: white;
}


a#profile:after {
	background-color: white; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}


a#profile:active:after,
a#profile:hover:after,
a#profile:focus:after{
	width: 100%;
}


.catalog {
	background-color: #ffff;
	width: 	80%;
	margin-left: auto;
    margin-right: auto;
    display: flex;
	height: 90vh;

}
.filter {
	width: 20%;
	border-right: 1px black dotted;
	padding-right: 20px;
	/*display: flex;*/
	/*flex-direction: column;*/
	display: flex;
	flex-direction: column;
}

.sort {
	display: flex;
	justify-content: space-between;
	margin: 0 20px 5px 20px;
	color: black;
}
/*.filter h1 {*/
/*	padding: 0;*/
/*	margin: 15px 15px;*/
/*	color: black;*/
/*	font-size: 1.5em;*/
/*}*/


h2 {
	color: #000;
}

form>label{
	color:#000;
	/*display: block;*/
}

form {
	padding-top:50px;
	margin: auto;
	gap: 15px;
	align-items: center;
	width: 80%;
	height: 80%;
}

form>button {
	width: 60%;
	background:#e3e3e3;
	border: unset;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px;
}
.goods {
	width: 100%;

	display: flex;
	flex-direction: column;
}
.cards {
	display: flex;
	flex-wrap: wrap;
/*	width: 100%;*/
	padding: 10px;
	cursor: default;
	overflow-y: auto;

}

.card a {
	border: 1px solid black;
}

.card{
	width: 150px;
	display:flex;
	flex-direction: column;
	margin: 5px;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1em;
	background: #EBEBEB;
	border-radius: 25px;
	flex-basis: calc(20% - 10px);
	align-items: center;
	height: 360px;
}
.card:hover {
	transition: 0.2s;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	/*transform: scale(101%);*/
}

.card img{
	padding: 10px 0 10px 0;
	width: 120px;
	height: 100px;
}

.card #more {
	font-style: normal;
	font-weight: 400;
	font-size:1em;
	line-height: 18px;
	text-align: center;
	border: none;
	color: #7A7A7A;
	padding: 0;
	margin: 0;


}

#more {
	text-decoration: none;
}
#more:hover {
	color: black;
}


.card #name {
	word-wrap: anywhere;
	font-style: normal;
	font-weight: 500;
	font-size: 1.4em;
	line-height: 30px;
	text-align: center;
	color: #000000;
	padding: 0;
	margin: 0 10px 0 10px;
	flex:1;
}
.card #brandmodel {
	font-style: normal;
	font-weight: 400;
	font-size:1em;
	line-height: 18px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #000000;
}

.card #price {
	font-style: normal;
	font-weight: 400;
	font-size:1.5em;
	line-height: 30px;
	text-align: center;
	margin: 5px;
	color: #000000;
}

/*p#font1 {*/
/*	font-size: 1.1em;*/
/*	font-weight: bold;*/
/*}*/

.card button {
	font-size: 1em;
	font-weight: 500;
	font-family: Montserrat, Arial, sans-serif;
	cursor: pointer;
	width: 150px;
	height: 30px;
	background: #A7A7A7;
	border: none;
	border-radius: 20px;
	vertical-align: bottom;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
}

.card button:hover {
	background: #8c8c8c;
}
.card button:active {
	color: white;
	background: #4b4b4b;
}


.card #quantity{
	margin: 0 0 10px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #000000;
}
.card button:hover {
	border: none;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
}

.containerforprof{
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
.profile {
	height: 450px;
	width: 100%;
	background-color: #ffffff;
	text-align: left;
    display: flex;
    flex-direction: row;
}

.profile p {
	font-weight: bold;
}

.blockforall {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: white;
	color: black;
}
#back {
	color: black;
	padding: 15px 20px;
	text-decoration: none;
}


#back:after {
	background-color: black; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#back:active:after,
#back:hover:after,
#back:focus:after{
	width: 100%;
}

.info {
	width: 400px;
	margin: 0 30px 30px 30px;
	font-size: 20px;
	/*border: 1px dashed white;*/
	color: black;
	position: relative;
}

.info a{
	float:right;
    text-decoration: none;
	font-weight: bold;
	color: red;
}

.info a:hover {
	color: #fff;
	cursor: pointer;
}

.info span{
	font-weight: 500;
	font-size: 25px;
	word-wrap: break-word;

}

.info p {
	margin: 0;
	font-weight: 400;
}


.order {
	flex: 38%;
	width: 100%;
	margin: 0 30px 30px 30px;
	text-align: center;
	padding: 0;
	overflow-x: auto;
	position: relative;

}
.history {
	/*border: 1px dashed white;*/
	flex: 38%;
	width: 100%;
	margin: 0 30px 30px 30px;
	text-align: center;
	padding: 0;
	/*overflow-y: auto;*/
	/*max-height: 350px;*/

}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h1 {
	padding: 150px 150px;
}

.container button {
	width: 200px;
}


/*.table{*/
/*	width: 100%;*/
/*	!*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);*!*/
/*	border-collapse: collapse;*/
/*	white-space: nowrap;*/
/*	cursor: default;*/
/*}*/

/*.table th, .table td{*/
/*	text-align: center;*/
/*	padding: 10px;*/
/*}*/

/*.table th{*/
/*	background-color: #2196f3;*/
/*	color: #ffffff;*/

/*}*/

/*.table th:nth-child(odd) {*/
/*	background: #2196f3;*/
/*}*/

/*.table tr:nth-child(even) {*/
/*	background: #505050;*/
/*}*/

/*.table tr{*/
/*	transition: all .3s;*/
/*	background-color: #757575;*/
/*}*/

/*.table tr:hover{*/
/*	background-color: #5f6ec5;*/
/*}*/

/*.table td:not(:last-child){*/
/*	border-right: 0.5px solid #989898;*/
/*}*/

.ordermenu {
	width: 100%;
	position:absolute;
	bottom:0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	vertical-align: bottom;
}

.ordermenu a {
	height: 25px;
	font-size: 16px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	cursor: pointer;
	text-decoration: none;
}
#one {
	font-size: 16px;
	font-family: Montserrat, Arial, sans-serif;
	cursor: pointer;
	background: #A7A7A7;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);
	padding: 5px 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: black;
	}

#one:hover {
	background: #8c8c8c;
}
#one:active {
	color: white;
	background: #4b4b4b;
}
#two {
	color: red;

}
#three {
	color: #2196f3;
}


#two:after {
	background-color: red; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#three:after {
	background-color: #2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#two:active:after,#three:active:after,
#two:hover:after,#three:hover:after,
#two:focus:after,#three:focus:after{
	width: 100%;
}

.right {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 30px;
	padding: 20px 0 0 0;
}
.left {
	display: flex;
	align-items: center;
	padding: 20px 0 0 0;
	position: relative;
}






.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.5s ease 0s;
    z-index: 999;
}


.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup__content {
	transform:  translate(0px, 0px);
	opacity: 1;
}
.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.5s ease 0s;
}

.popup__content{
	background-color: white;
	border-radius: 30px;
	color:black;
	max-width: 800px;
	padding: 30px;
	position: relative;
	transition: all 0.5s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}



.popup__title{
	font-size: 40px;
	text-align: center;
	margin: 10px;
	width: 500px;
	word-wrap: normal;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*.table2{*/
/*	width: 100%;*/
/*	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
/*	border-collapse: collapse;*/
/*	white-space: nowrap;*/
/*	cursor: default;*/
/*}*/

/*.table th, .table td{*/
/*	text-align: center;*/
/*	padding: 10px;*/
/*}*/

/*.table th{*/
/*	background-color: #2196f3;*/
/*	color: #ffffff;*/

/*}*/

/*.table th:nth-child(odd) {*/
/*	background: #2196f3;*/
/*}*/

/*.table tr:nth-child(even) {*/
/*	background: #505050;*/
/*}*/

/*.table tr{*/
/*	transition: all .3s;*/
/*	background-color: #757575;*/
/*}*/

/*.table tr:hover{*/
/*	background-color: #5f6ec5;*/
/*}*/

/*.table td:not(:last-child){*/
/*	border-right: 0.5px solid #989898;*/
/*}*/

.table{
	width: 100%;
	/*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);*/
	border-collapse: collapse;
	cursor: default;

}

.table th, .table td{
	text-align: center;
	padding: 10px;

}

.table th{
	background-color: #d9d9d9;
	color: black;
	font-weight: 400;
	position: sticky;
	top: 0;
}


.table tr{
	transition: all .3s;
	background-color: #EFEEEE;
	font-weight: 500;
	color: black;
	/*border-bottom: 0.5px solid #000000;*/
}
.table tr:not(:last-child){
	border-bottom: 0.5px solid #000000;
}

.table tr:hover{
	background-color: #8a8a8a;
}

.table td:not(:last-child){
	border-right: 0.5px solid #000000;
}
.table th:not(:last-child){
	border-right: 0.5px solid #000000;
}

.del-goods {
	width: 30px;
	margin: 0 10px;
	color: black;
	outline: none;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 10px;
}

.del-goods:hover,.plus-goods:hover,.minus-goods:hover {
	background-color: #7d7d7d;
}
.del-goods:hover,.plus-goods:hover,.minus-goods:active {
	background-color: #444444;
	color: white;
}
.plus-goods {
	width: 30px;
	margin: 0 10px;
	color: black;
	border: none;
	outline: none;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 10px;
}

.minus-goods {
	width: 30px;
	margin: 0 10px;
	color: black;
	border: none;
	outline: none;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 10px;
}

.basket {

	text-align: right;
}

#basketrow td{
	padding: 5px 0 5px 0;
	text-align: left;
}

input {
	padding: 10px;
	border: unset;
	border-bottom: 1px solid gray;
	outline:none;
	width: 70%;
}

/*#basketrow tr{*/
/*	padding: 5px 0 5px 0;*/
/*	text-align: left;*/
/*}*/

#popup2 {
	text-align: center;
}
.popup__buttons button {
	margin: 0 10px 0 0;
	width: 35%;
	border: 0;
	border-radius: 10px;
	background: #2196f3;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	cursor:pointer;
	text-align: center;
}

.popup__buttons {
	margin-top: 10px;
	margin-bottom: 10px;
}

.popup__buttons button:hover {
	background-color: #7d7d7d;
}
.popup__buttons button:active {
	background-color: #505050;
}

.yes {
	display: block;
}
.no {
	display: none;
}
.disableblock {
	display: none;
}

.popup form button {
	font-family: Montserrat, Arial, sans-serif;
	color: black;
	padding: 10px 15px 10px 15px;
	border-radius: 50px;
	background-color: #A7A7A7;
	margin: 0;
	width: 25%;
}
.popup form button:hover {
	background-color: #8c8c8c;

}

.popup form button:active {
	color: white;
	background: #4b4b4b;
}

.meow {
	display: none;
}


footer {
	text-align: center;
	width: 100%;
	background-color: black;
	height: 50px;
}

/*.filters {*/
/*	margin: 100px;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	padding: 10px;*/
/*}*/

/*.filters p  {*/
/*	text-align: left;*/
/*	color:black;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

/*.filters button {*/
/*	font-family: Montserrat, Arial, sans-serif;*/
/*	color:white;*/
/*	border: none;*/
/*	border-radius: 20px;*/
/*	background: #2196f3;*/
/*	cursor: pointer;*/
/*	margin: 5px 5px;*/
/*	padding: 5px 10px;*/
/*	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06);*/
/*}*/

/*.filters button:hover {*/
/*	filter: brightness(130%);*/

/*}*/

/*.filters button:active {*/
/*	color: white;*/
/*}*/

#emptycart a {
	color: #2196f3;
	text-decoration: none;
}
#emptycart a:hover {
	text-decoration: none;
}

#emptycart {
	text-align: left;
	color: black;
	font-weight: 400;
}


#emptystory {
	text-align: left;
	color: black;
	font-weight: 400;
}



/*----------------------------------------------------------Оформление полных карточек товара*-----------------------------------------------------------*/
/*Отступы и ширина для содержимого окна*/
.popup__fill {
	padding: 5px;
	width: 100%;
}
/*Картинка + список характеристик*/
.columns {
	display: flex;
	flex-direction: row;
	padding: 10px;
	gap: 30px;
}
/*Картинка отдельным блоком*/
.columns img {
	height: 250px;
	width: 250px;
	padding: 0;
}
/*Характеристики отдельным блоком*/
.specs {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	color: #777777;
	text-align: left;
	margin: 0;
	font-size: 1.3em;

}
/*Строки для характеристик*/
.specs p {
	margin: 0.2em;
}
/*Оглавления строк для характеристик*/
.specs b {
	font-weight: 500;
}
/*Найстройка текста снизу*/
#descr {
	text-align: left;
	color: #777777;
}
/*Стилизация строки с ценой и кнопкой*/
#money {
	color: black;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
}
/*Стилизация кнопки для карточки с товаром в наличии*/
#popuporderbtn {
	margin-left: 10px;
	width:225px;
	height: 45px;
	font-size: 0.8em;
	font-weight: 400;
}
/*Оглавление полной карточки товара*/
#card__title {
	font-weight: 600;
}

.select__header {
	display: flex;
	width: 250px;
	height: 60px;
	cursor:pointer;
	background: #C4C4C4;
	border-radius: 25px;
	text-align: left;
	padding-left: 10px;
	font-weight: 400;
	font-size: 13px;
	align-items: center;
	margin-top: 10px;
}

.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 40px;
	text-align: center;
	width: 40px;
	margin-left: auto;
	left: auto;
	right: auto;
	transition: all .3s ease;
}

.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}

.select {
	width: 250px;
	margin: 0 auto;
	position: relative;
	color: black;
}

.select__body {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 5px;
	left: 0;
	/*position: absolute;*/
	right: 0;
	top: 100%;
	display: none;
	width: 100%;
	max-height: 120px;
	text-align: left;
	padding: 5px;
	overflow: auto;
}

.select__item {
	cursor: pointer;
	font-size: 15px;
	line-height: 25px;
	padding: 8px;
}

.select__item:hover {
	background-color: #ebebeb;
}

.select.is-active .select__body{
	display: block;
}

.select__icon.rotateicon {
	-moz-transform: rotate(90deg); /* Для Firefox */
	-ms-transform: rotate(90deg); /* Для IE */
	-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(90deg); /* Для Opera */
	transform: rotate(90deg);
	transition: all .3s ease;
}

#arrowfilter {
	width: 25px;
	height: 25px;
	transition: all .22s ease;
}

.sortimgs {
	display: flex;
	flex-direction: row;
}

.sortimgs img {
	padding-top: 10px;
}


#changesorttitle {
	font-weight: 400;
}

.headercart__body {
	border: 1px solid black;
	border-radius: 5px;
	/*left: 0;*/
	position: absolute;
	right: 0;
	/*top: 100%;*/
	display: none;
	width: 800px;
	background-color: white;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

#headercarttrigger {
	cursor: pointer;
}

.headercart__body h1 {
	color: black;
	font-size: 30px;
	margin: 0;
	padding: 10px 0 10px 20px;
	font-weight: 700;
}

.headercart__body__content {
	/*width: %;*/
	color: black;
	text-align: left;
	padding: 0;
	margin: 0;
	overflow-y: auto;
}

#tabletitle th {
	font-weight: 400;
	font-size: 15px;
}

#cart_table {
	width: 100%;
	border-collapse: collapse;
	cursor: default;
}

.carttableout td {
	border-right: 1px solid black;
	font-weight: 500;
}

.tablesum {
	text-align: right;
	padding-right: 40px;
	font-weight: 500;
	font-size: 35px;
}
.tablesum p {
	padding: 10px 0 0 0;
	margin: 0;
}

.orderheaderbtns {
	margin: 0;
	text-align: right;
	padding: 50px 20px 20px 0;
	height: 40px;
}

.tablesum {
	color: black;
}
#button2 {
	font-family: Montserrat, Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
	width: 25%;
	height: 40px;
	cursor: pointer;
	background: #A7A7A7;
	border: none;
	border-radius: 20px;
	/*vertical-align: bottom;*/
	box-shadow: 0px 4px 3px rgb(0 0 0 / 6%);
	padding: 0;
	margin: 0;
}

#buttontoprof {
	font-family: Montserrat, Arial, sans-serif;
	color: black;
	padding: 10px 15px 10px 15px;
	border-radius: 50px;
	background-color: #A7A7A7;
	margin: 0;
	width: 25%;
}
#buttontoprof:hover {
	background-color: #8c8c8c;

}

#buttontoprof:active {
	color: white;
	background: #4b4b4b;
}


#button2:hover {
	background: #676767;
}
#button2:active {
	color: white;
	background: #4b4b4b;
}

#button1 {
	font-family: Montserrat, Arial, sans-serif;
	border: none;
	background: none;
	font-weight: 400;
	font-size: 20px;
	width: 25%;
	height: 40px;
	cursor: pointer;
	text-decoration: none;
	color: #2196f3;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
	/*border-radius: 20px;*/
	/*vertical-align: bottom;*/
	/*box-shadow: 0px 4px 3px rgb(0 0 0 / 6%);*/
}
/*#button44314134134314131 {*/
/*	font-family: Montserrat, Arial, sans-serif;*/
/*	border: none;*/
/*	background: none;*/
/*	font-weight: 500;*/
/*	font-size: 15px;*/
/*	width: 25%;*/
/*	height: 40px;*/
/*	cursor: pointer;*/
/*	text-decoration: none;*/
/*	color: #8b0000;*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	!*border-radius: 20px;*!*/
/*	!*vertical-align: bottom;*!*/
/*	!*box-shadow: 0px 4px 3px rgb(0 0 0 / 6%);*!*/
/*}*/

/*.button1:after {*/
/*	background-color: #19af05; !* Цвет линии при наведении на нее курсора мыши *!*/
/*	display: block;*/
/*	content: "";*/
/*	height: 2px; !* Высота линии *!*/
/*	width: 0;*/
/*	-webkit-transition: width .3s ease-in-out;*/
/*	-moz--transition: width .3s ease-in-out;*/
/*	transition: width .3s ease-in-out;*/
/*}*/

#button1:after {
	background-color: #2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#button1:active:after,
#button1:hover:after,
#button1:focus:after {
	width: 100%;
}

.plus {
	padding: 0 10px 0 10px ;
}
.minus {
	padding: 0 10px 0 10px ;
}


.tablecount {
	display: flex;
	justify-content: space-between;
	width: 170px;
}

.tableprice {
	text-align: center;
}

.tablecount	span {
	text-align: center;
	flex: 1;
	vertical-align: bottom;
	padding-top: 4px;
}

#changequantity {
	border: none;
	background: none;
	cursor: pointer;
	color: black;
	font-size: 30px;
	line-height: 40px;
}
.table__name__brand__model {
	padding: 0 0 0 15px;
}

#title__table__price {
	text-align: center;
}
#title__table__count {
	text-align: center;
	padding: 0 15px 0 0;
}
#title__table__name {
	padding-left: 15px;
}
#emptycartout {
	color: black;
	padding-left: 20px;
}

#emptycartout a {
	color:#2196f3;
}

#profiletitle {
	padding-top: 100px;
	margin: 20px 0 30px 0;
}


#empycartlink {
	font-family: Montserrat, Arial, sans-serif;
	border: none;
	background: none;
	cursor: pointer;
	text-decoration: none;
	color: #2196f3;
	display: inline-block;
}


#empycartlink:after {
	background-color: #2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#empycartlink:active:after,
#empycartlink:hover:after,
#empycartlink:focus:after {
	width: 100%;
}

#quit {
	font-family: Montserrat, Arial, sans-serif;
	border: none;
	background: none;
	cursor: pointer;
	text-decoration: none;
	color: #cb0000;
	display: inline-block;
	position:absolute;
	bottom:0;
	right: 0;
}
#quit:after {
	background-color: #cb0000; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#quit:active:after,
#quit:hover:after,
#quit:focus:after {
	width: 100%;
}

#infotitle {
	margin: 0;
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 20px;
	text-align: left;
	position: relative;
}

#infotitle:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-70%);
	width: 45px;
	height: 45px;
	background: url('../content/user.png') center no-repeat;
	filter: invert(100%);
	background-size: 30px 30px;
}

#historytitle {
	margin: 0;
	font-size: 30px;
	font-weight: 500;
	color: black;
	text-align: left;
	position: relative;
}

#historytitle:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	background: url('../content/history.png') center no-repeat;
	background-size: 30px 30px;
}

.historyoutput {
	height: 500px;
	margin: 0;
	padding: 0;
}


.table_responsive1 {
	height: 285px;
	overflow: auto;
}


#historydescr {
	font-weight: 400;
	color: black;
	text-align: left;
}

#ordertitle {
	margin: 0;
	font-size: 30px;
	font-weight: 500;
	color: black;
	text-align: left;
	position: relative;
}
#ordertitle:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	background: url('../content/cart.png') center no-repeat;
	background-size: 30px 30px;
}


.table_responsive2 {
	width: 100%;
	height: 212px;
	overflow: auto;
}

#orderdescr {
	font-weight: 400;
	color: black;
	text-align: left;
}

/*.orderoutput {*/
/*	height: 500px;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

#selected {
	position: relative;
}


#selected:after  {
	background-color:#2196f3; /* Цвет линии при наведении на нее курсора мыши */
	display: inline-block;
	position: absolute;
	content: "";
	height: 5px; /* Высота линии */
	border-radius: 300px;
	width: 75%;
	transition: width .3s ease-in-out;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.sortimgs div {
	display: flex;
	flex-direction: row;
}

.pricelowtohigh,
.pricehightolow{
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 0 10px 0 10px;
}

.nameatoz,
.nameztoa {
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 0 10px 0 10px;
}

.random {
	width: 30px;
}


#selected:active:after,
#selected:hover:after,
#selected:focus:after {
	width: 0;
}

.sortimgs img:hover {
	filter: opacity(0.3);
}
.sortimgs div:hover:after {
	width: 100%;
}

/*.sortimgs div img:hover {*/
/*	background-color: #000000; !* Цвет линии при наведении на нее курсора мыши *!*/
/*	display: inline-block;*/
/*	position: absolute;*/
/*	content: "";*/
/*	height: 2px; !* Высота линии *!*/
/*	width: 75%;*/
/*	transition: width .3s ease-in-out;*/
/*	bottom: 0;*/
/*	left: 50%;*/
/*	transform: translate(-50%);*/
/*}*/

#searchform{
	display: flex;
	flex-direction: row;
}

#about {
	padding: 30px 0 30px 0;
	background: none;
	text-align: center;
	margin: 0;
	font-weight: 900;
	font-size: 2.5em;
}

.infoblock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	/*background: rgba(0, 0, 0, 0.6);*/
	border-radius: 50px;
}

.map {
	width: 49%;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: row;
	margin: 0;
}

/*.yandex {*/
/*	margin: 0;*/
/*}*/

.answers {

	width: 49%;
	text-align: center;
	/*border: 1px solid white;*/
}


.answers h1 {
	font-weight: 600;
	font-size: 30px;
	text-align: left;
	margin: 0 0 20px 0;
	position: relative;
}

.answers h1:after {
	content: '';
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	color: white;
	background: url('../content/spravka.png') center no-repeat;
	background-size: 30px 30px;
}

.abouttext{
	text-align: left;
	margin: 20px 10px 10px 10px;

}
.abouttext h1{
	margin: 0 10px 10px 10px;
	font-weight: 600;
}

.abouttext p {
	margin: 0 10px;
}



.list-group {
	display: flex;
	flex-direction: column;
}

.list-group-item {
	width: 75%;
	min-height: 45px;
	position: relative;
	padding: 12px 20px;
	background-color: #000000;
	/*border: 1px solid rgba(0, 0, 0, 0.125);*/
	border: 2px solid white;
	border-radius: 15px;
	margin-bottom: 5px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.list-header {
	font-size: 18px;
	font-weight: 400;
	text-align: left;

}

.list-content {
	width:75%;
	background-color: white;
	color: black;
	border-radius: 15px;
	/*right: -25px;*/
	padding: 12px 20px;
	text-align: left;
	cursor: default;
}

.spoiler-body {
	display: none;
}

#geo{
	position: relative;
}

#workinghours, #contacts {
	position: relative;
	margin: 10px;
}

#workinghours:after {
	content: '';
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	color: white;
	background: url('../content/workinghours.png') center no-repeat;
	background-size: 30px 30px;
}
#geo:after {
	content: '';
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	color: white;
	background: url('../content/geo.png') center no-repeat;
	background-size: 30px 30px;
}
#contacts:after {
	content: '';
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	width: 45px;
	height: 45px;
	color: white;
	background: url('../content/contacts.png') center no-repeat;
	background-size: 30px 30px;
}
